<main>
  <!-- message-->
  <%- messages() %>

  <!-- Validation errors -->
  <% if (errors && errors.length > 0) { %>
    <ul class="notice error">
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }); %>
    </ul>
  <% } %>

  <h1>Vehicle Management</h1>

  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory</a></li>
  </ul>

  <h2>Manage Inventory</h2>
  <p>Choose a Classification to see those inventory items.</p>

  <!-- Classification list from controller -->
  <%- classificationSelect %>

  <!-- to inject inventory -->
  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>

  <script src="../../js/inventory.js"></script>

</main>




  
